body {
  background-color: #F2F2F2;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 768px;
  align-items: center;
  position: relative;
}

#header {
  margin: auto;
  margin-top: 20px;
  position: relative;
  text-align: center;
  font-family: 'Petit Formal Script', cursive;
  color: #0C0E46;
  font-size: 30px;
}

nav {
  display:flex;
  justify-content: center;
}


a:hover {
  background-color: #0C0E46;
}

a {
  text-align: center;
  color: white;
  text-decoration: none;
  margin-bottom:20px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #3B0D2D;
  border: none;
  border-radius: 15px;
  width: 183px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'Taviraj', serif;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
}

#body {
  width: 600px;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p {
  display: block;
  margin-left: auto;
  width: 475px;
  margin-right: auto;
  margin-bottom: 20px;
  padding: 5px;
  font-size: 20px;
  color: #0C0E46;
  font-family: 'Taviraj', serif;
}

img {
  width: 550px;
  height: 350px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

#intro {
  width: 400px;
  margin-top: 3px;
  text-align: center;
}
