.container {
  margin-left: auto;
  margin-right: auto;
  width: 768px;
  align-items: center;
  position: relative;
  background-color: #FFD79F;
}

#header {
  margin: auto;
  margin-top: 20px;
  justify-content: center;
  background-color: #FAC2C2;
  position: relative;
  text-align: center;
  font-size: 30px;
}

nav {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

button {
  margin-bottom:8px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #51714D;
  width: 183px;
  height: 51px;
}

#body {
  background-color: #A4DBE0;
  width: 600px;
  justify-content: center;
  position: relative;
  align-items: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p {
  display: block;
  margin-left: auto;
  text-align: center;
  width: 400px;
  margin-right: auto;
  margin-bottom: 20px;
  background-color: #FFF1C3;
  padding: 5px;
  font-size: 20px;
}

#image {
  width: 550px;
  height: 350px;
  background-color: #82E870;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

img {
  display: flex;
  position: absolute;
}

.opaque {
  opacity: 1;
}

.transparent {
  opacity: .5;
}

.invisible {
  opacity: 0;
}

#napkin {
  left: 20%;
  top: 37%;
}

#salad-fork {
  left: 22%;
  top: 43%;
}

#dinner-fork {
  left: 26%;
  top: 40%;
}

#bread-plate {
  left: 20%;
  top: 20%;
}

#butter-knife {
  left: 19%;
  top: 24%;
}

#dinner-plate {
  left: 36%;
  top: 35%;
}

#dessert-spoon {
  left: 44%;
  top: 31%;
}

#dinner-knife {
  left: 70%;
  top: 40%;
}

#soup-spoon {
  left: 75%;
  top: 41%;
}

#water-cup {
  left: 59%;
  top: 20%;
}

#red-wine {
  left: 70%;
  top: 18%;
}

#white-wine {
  left: 81%;
  top: 18%;
}
