.container {
  margin-left: auto;
  margin-right: auto;
  width: 768px;
  align-items: center;
  position: relative;
  background-color: #FFD79F;
}

#header {
  margin: auto;
  margin-top: 20px;
  justify-content: center;
  background-color: #FAC2C2;
  position: relative;
  text-align: center;
  font-size: 30px;
}

nav {
  display:flex;
  justify-content: center;
}

button {
  margin-bottom:20px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #51714D;
  width: 183px;
  height: 51px;
  font-size: 20px;
}

#body {
  background-color: #A4DBE0;
  width: 600px;
  justify-content: center;
  position: relative;
  align-items: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p {
  display: block;
  margin-left: auto;
  width: 475px;
  margin-right: auto;
  margin-bottom: 20px;
  padding: 5px;
  font-size: 20px;
  background-color: #FFF1C3;
}

#image {
  width: 550px;
  height: 350px;
  background-color: #82E870;
  img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

#intro {
  width: 400px;
  margin-top: 30px;
}
