body {
  padding: 0;
  margin: 0;
  /* padding:20px 20px; */
  background-color: #EDD19C;
  font-family: bookmania, serif;
  font-weight: 400;
  font-style: normal;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 768px;
  align-items: center;
  /* padding: 20px 20px; */
}

.large-letter-group {
  height: 325px;
  width: 768px;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 160px;
  display: flex;
  justify-content: center;
  /* padding: 20px 20px; */
}

.large-letter-group h1#large-letter {
  font-family: Bookmania-bold;
  font-feature-settings: "ss16", "ss10";
  font-size: 502px;
  margin:0;
  margin-top:-165px;
}

.large-letter-group h1#large-letter-analysis {
  font-family: Bookmania-bold;
  font-feature-settings: "ss07";
  font-size: 502px;
  position:absolute;
  top: -68%;
  right: 10%;
}

/* ss07 for post-button */

.large-letter-group button {
  width: 144px;
  height: 40px;
  background-color: #E3B152;
  border:none;
  font-family: bookmania, serif;
  font-weight: 700;
  font-style: normal;
  border-radius: 10px;
}

.large-letter-group h2 {
  font-family: bookmania, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 42px;
  color: black;
  font-feature-settings: "ss16", "ss10";
  position:absolute;
  top: 67%;
  left: 66%;
}

.large-letter-group img#letter-analysis {
  position:absolute;
  z-index: 99;
  top: 159.3px;
  left: 25%;
  /* visibility: hidden; */
}

.invisible {
  visibility: hidden;
}

/* .large-letter-group img#letter-analysis.visible {
  visibility: visible;
} */

#arrow {
  width: 70px;
  height: 40px;
  position:absolute;
  left:15%;
  top: 21%;
}

.web-content {
  background-color:#E3B152;
  padding: 20px 20px;
  margin: 20px;
  border-radius: 75px;
  margin-top: 40px;
  width: 80%;
  display: flex;
  justify-content: center;
}

.font-info {
  padding: 10px 10px;
  margin: 10px 10px;
}

.sample-set {
  font-family: Bookmania-bold;
  font-size: 65px;
  margin: 10px 10px;
  font-feature-settings: "ss16";
  text-align: justify;
  background-color:#D3A040;
  align-items: center;
  border-color: black;
  border-width: 5px;
  border-style: double;
  border-radius: 25px;
}

.overflow {
  overflow-y: scroll;
  overflow-x: hidden;
  clear: both;
  height: 400px;
}

.sample-set p {
  margin:10px;
  text-align: center;
}

.visual-examples {
  padding-top: 37px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.visual-examples img {
  padding: 20px 20px;
}

.body-copy {
  font-family: Bookmania;
  padding: 5px 5px;
  margin: 10px;
  font-size: 17px;
}

footer {
  padding: 20px 20px;
  font-family: bookmania, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  justify-content: center;
  width: 100%;
}

#author-info {
  background-color: rgba(255,255,255,.5);
  padding: 20px 20px;
  margin: 20px;
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: flex-end;
  /* position:relative;
  bottom: 30%;
  left: 31%; */
}

#author-header {
  padding: 15px 15px;
}

footer img {
  height:120px;
}

#sources {
  background-color: rgba(255,255,255,.5);
  padding: 20px 20px;
  margin: 20px;
}

h3 {
  font-family: bookmania, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 25px;
  font-feature-settings: "ss10";
}

#sources .p {
  font-family: bookmania bold, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 25px;
}
